{% extends 'main.html' %}
{% load widget_tweaks %}


{% block title %} Nowy projekt {% endblock %}

{% block content %}

<form method="post">

  <form method="post" enctype="multipart/form-data">
    <div class="col-8">

      {% csrf_token %}
        <div class="col-4 p-0 px-4 panel-left">
            <div class="form-group">
            <label for="label">Nazwa projektu</label>

            {% render_field form.title class+="form-control form-control-lg" placeholder="name@example.com" %}
            <span class="text-danger">{{ form.title.errors|striptags }}</span>
            </div>

            <div class="form-group">
            <label for="label">Urls</label>
            {% render_field form.urls class+="form-control" %}
            <span class="text-danger">{{ form.urls.errors|striptags }}</span>
            </div>
            <br>
        <button type="submit" class="btn btn-outline-success btn-lg">Dodaj projekt</button>
        </div>


{% endblock %}

